# Lab 2: NumPy and Pandas

***
- **FIRST name**: Abimbola
- **LAST name**: Olarinde
- **Student ID**: 1880229

Leave blank if individual:
- **Collaborator names**:
- **Collaborator student IDs**:
***

In today's lab, you will learn how to:

1.   import code;
2.   what NumPy and Pandas are and how to use them;
3.   table operations;
4.   how to analyze data.

For this lab, you will need two datasets: <code>farmers_markets.csv</code> and <code>imdb.csv</code>. To upload them to your notebook, click on the **Files** button on the left side of your screen. Next click on the **Upload** icon near the top and select the two datasets.

### Instructions

- **Collaboration**: You must submit your own work. The collaboration policy for the labs is Consultation Collaboration. You may verbally discuss concepts with your classmates, without exchanging written text, code, or detailed advice. You must develop your own solution and submit your own work. All sources of information used including books, websites, students you talked to, must be cited in the submission. Please see the course FAQ document for details on this collaboration policy. We will adhere to current Faculty of Science guidelines on dealing with suspected cases of plagiarism.
- **Software**: We highly recommend that students use Google Colab for completing labs and assignments. This is the software used by the TAs in the course, and we can guarantee that there will be no issues with incompatible environments or imports.
- **Filling out the Notebook**: You must use this notebook to complete your lab. You will execute the questions in the notebook. The questions might ask for a short answer in text form or for you to write and execute a piece of code. Make sure you enter your answer in either case only in the cell provided.

- **Important**:  Do not use a different cell, do not delete cells, and do not create a new cell. Creating new cells for your code is not compatible with the auto-grading system we are using and thus your assignment will not get grading properly and you will lose marks for that question. As a reminder you must remove the raise NotImplementedError() statements from each question when answering.

- **Rules for Datasets**: Any datasets used in the lab cannot be imported from cloud storage, e.g google drive, and must be read from a file either on your local computer or uploaded to the google collab notebook. Importing from cloud storage will result in a zero.

- **Submission Formatting**: When you are done, you will submit your work from the notebook. Make sure to save your notebook before running it, and then submit on Canvas the notebook file with your work completed. Name your file with your Student ID number, followed by an underscore and L plus the lab number (ex: 1234567_L1.ipynb). Failure to do so will result in your final score being reduced by 50%! Finally your name must be written at the top of the lab or assignment document.

# 1. Importing code

Most of the programming that we will do in this course will involve work that's already been done before. In this case, it's handy to rely on others' published code rather than writing it all ourselves. Rather than copying and pasting, Python allows us to import **modules**. A module is a file with Python code that contains defined variables and functions. By importing a module, we can use its code in our own notebook.

A common module that's used in data science is the <code>math</code> module. Suppose we want to accurately calculate the circumference of a circle. For π, we can use the math module, which already has pi defined for us:

In [2]:
import math
radius = 4
circumference_circle = 2 * radius * math.pi
circumference_circle

25.132741228718345

<p> In the code above, we access the module using the line <code>import math</code>. We can then use any function or variable defined within <code>math</code> by typing the name of the module folllowed by a dot, followed by the name of the variable or function that we want. </p>

<code> (module name).(name) </code>

**Question 1.1.** The module <code>math</code> also provides the name e for the base of the natural logarithm, which is roughly 2.71. Compute e<sup>π</sup>-π giving it the name <code>near_twenty</code>.

In [8]:
# YOUR CODE HERE

near_twenty =  math.exp(math.pi) - math.pi
near_twenty

19.999099979189474

In [ ]:
#TEST CELL: do not delete!

## Accessing functions

In the question above, you used variables from the <code>math</code> module.

<p> Modules also define functions. For example, <code>math</code> defines the name <code>cos</code> for the cos function. Since we've already imported <code>math</code>, we can write <code>math.cos(1)</code> to compute the cos of 1 (note that this cos function assumes its argument to be in radians). </p>

 **Question 1.2.** A $\frac{\pi}{4}$-radian (45 degree) angle forms at a right triangle with equal base and height. If the hypotenuse is 1, then the base is cos($\frac{\pi}{4}$). Compute the value of cos($\frac{\pi}{4}$) using <code>cos</code> and <code>pi</code> from the <code>math</code> module below. Assign your answer the name <code>cos_pi_over_four</code>.

In [11]:
# YOUR CODE HERE

cos_pi_over_four = math.cos(math.pi / 4)
cos_pi_over_four

0.7071067811865476

In [ ]:
#TEST CELL: do not delete!

Different functions take in a different number of arguments. Refer to this [documentation](https://docs.python.org/3/library/math.html) for all of the functions provided by <code>math</code> and how to use them.

# 2. Using NumPy and Pandas

NumPy and Pandas are two very popular libraries in Python that are largely used for data science. Pandas helps when working with large amounts of data. It provides us with a data structure called a <code>DataFrame</code>, which is like a table or spreadsheet. The rows and columns in a DataFrame are indexed so that we can perform operations on them.

<p> NumPy is a dependency of Pandas. Its main purpose is to perform calculations and manipulations on large sets of data. </p>

The table <code>farmers_markets.csv</code> contains data on farmers' markets in the United States. Each row represents an individual market.

<p> The following cell imports NumPy and Pandas as np and pd respectively. The last line loads the csv file and creates a DataFrame named <code>farmers_market</code>. </p>

In [13]:
import numpy as np
import pandas as pd

farmers_markets = pd.read_csv('farmers_markets.csv')

**Question 2.1.** Use the method <code>head</code> to display the first 5 rows of <code>farmers_market</code>. You can read the documentation [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html).

In [19]:
# YOUR CODE HERE
farmers_markets.head()

,FMID,MarketName,street,city,County,State,zip,x,y,Website,...,SFMNP,SNAP,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time
0,1012063,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,05828,-72.140305,44.411013,https://sites.google.com/site/caledoniafarmers...,...,Y,N,06/08/2016 to 10/12/2016,Wed: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
1,1011871,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,44130,-81.728597,41.375118,http://Stearnshomestead.com,...,Y,Y,06/25/2016 to 10/01/2016,Sat: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
2,1011878,100 Mile Market,507 Harrison St,Kalamazoo,Kalamazoo,Michigan,49007,-85.574887,42.296024,http://www.pfcmarkets.com,...,Y,Y,05/04/2016 to 10/12/2016,Wed: 3:00 PM-7:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
3,1009364,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,NaN,South Carolina,29682,-82.818700,34.804200,http://thetownofsixmile.wordpress.com/,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1010691,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274619,37.495628,NaN,...,N,N,04/02/2014 to 11/30/2014,Wed: 3:00 PM-6:00 PM;Sat: 8:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN

Notice how some values are 'NaN'. This means that the value is missing or it's not applicable.

### Columns & Rows

We can find the number of columns that a dataset has by using <code>len</code> (short for length) and <code>.columns</code>:

In [20]:
num_farmers_columns = len(farmers_markets.columns)
num_farmers_columns

59

**Question 2.2.** Find the number of rows that <code>farmers_markets</code> has by using similar functions as the ones above. Assign your answer to <code>num_farmers_rows</code>.  

*Hint*: <code>.rows</code> does not exist like it does for columns since the number of rows is really just the length of the dataset! </p>

In [21]:
# YOUR CODE HERE

num_farmers_rows = len(farmers_markets)
print("The table has", num_farmers_rows, "rows in it")

The table has 8546 rows in it

In [ ]:
#TEST CELL: do not delete!

### Selecting

Sometimes, datasets will contain columns that we don't need in our analysis. In this case, we use square brackets around the columns that we want to keep. This creates a new table.

In [22]:
farmers_markets_locations = farmers_markets[["MarketName", "State"]]
farmers_markets_locations

                                            MarketName           State
0      Caledonia Farmers Market Association - Danville         Vermont
1                    Stearns Homestead Farmers' Market            Ohio
2                                      100 Mile Market        Michigan
3                    106 S. Main Street Farmers Market  South Carolina
4                  10th Steet Community Farmers Market        Missouri
...                                                ...             ...
8541                    Zia Bernalillo Farmers' Market      New Mexico
8542                          Zimmerman Farmers Market       Minnesota
8543                        Zion Canyon Farmers Market            Utah
8544                         Zionsville Farmers Market         Indiana
8545                         Zona Rosa Farmers' Market        Missouri

[8546 rows x 2 columns]

Notice how there are two sets of brackets when selecting multiple columns. If we only wanted to select one column, we would only need one set of brackets.

**Question 2.3.** Suppose we want to display market locations using coordinates instead of states. Create a table with only <code>MarketName</code>, longitude <code>x</code>, and latitude <code>y</code>. Assign your table to <code>farmers_markets_coords</code>.

In [24]:
# YOUR CODE HERE

farmers_markets_coords = farmers_markets[["MarketName", "x", "y"]]
farmers_markets_coords

                                            MarketName           x          y
0      Caledonia Farmers Market Association - Danville  -72.140305  44.411013
1                    Stearns Homestead Farmers' Market  -81.728597  41.375118
2                                      100 Mile Market  -85.574887  42.296024
3                    106 S. Main Street Farmers Market  -82.818700  34.804200
4                  10th Steet Community Farmers Market  -94.274619  37.495628
...                                                ...         ...        ...
8541                    Zia Bernalillo Farmers' Market -106.546840  35.313704
8542                          Zimmerman Farmers Market  -93.585014  45.437700
8543                        Zion Canyon Farmers Market -113.003311  37.184508
8544                         Zionsville Farmers Market  -86.261200  39.949100
8545                         Zona Rosa Farmers' Market  -94.580864  39.246317

[8546 rows x 3 columns]

In [ ]:
#TEST CELL: do not delete!

We can also select the markets that are located in California only. The <code>==</code> symbol is called a *comparison operator*. In this case, the comparison operator looks at every value in the State column and only adds it to the DataFrame if it's equal to California.

In [ ]:
california_farmers_markets = farmers_markets[farmers_markets['State'] == 'California']
california_farmers_markets

### Drop

<p> The <code>drop</code> method is similar to selecting, but it takes away the columns that are provided. <code>drop</code> also creates a new table. </p>

Suppose we did not want <code>FMID</code> and <code>updateTime</code> in our <code>farmers_markets</code> table:

In [ ]:
farmers_markets_without_fmid = farmers_markets.drop(columns = ["FMID", "updateTime"])
farmers_markets_without_fmid

**Question 2.4.** Create a table that does not contain the <code>Website</code>, <code>Facebook</code>, <code>Twitter</code>, <code>Youtube</code>, and <code>OtherMedia</code> columns. Assign your table to <code>farmers_markets_without_media</code>.

In [30]:
# YOUR CODE HERE

farmers_markets_without_media = farmers_markets.drop(columns = ["Website", "Facebook", "Twitter", "Youtube", "OtherMedia"])
farmers_markets_without_media

,FMID,MarketName,street,city,County,State,zip,x,y,Organic,...,SFMNP,SNAP,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time
0,1012063,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,05828,-72.140305,44.411013,Y,...,Y,N,06/08/2016 to 10/12/2016,Wed: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
1,1011871,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,44130,-81.728597,41.375118,-,...,Y,Y,06/25/2016 to 10/01/2016,Sat: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
2,1011878,100 Mile Market,507 Harrison St,Kalamazoo,Kalamazoo,Michigan,49007,-85.574887,42.296024,N,...,Y,Y,05/04/2016 to 10/12/2016,Wed: 3:00 PM-7:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
3,1009364,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,NaN,South Carolina,29682,-82.818700,34.804200,-,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1010691,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274619,37.495628,-,...,N,N,04/02/2014 to 11/30/2014,Wed: 3:00 PM-6:00 PM;Sat: 8:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8541,1004767,Zia Bernalillo Farmers' Market,335 S. Camino del Pueblo,Bernalillo,Sandoval,New Mexico,NaN,-106.546840,35.313704,-,...,Y,Y,07/04/2014 to 10/24/2014,Fri: 4:00 PM-7:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8542,1000778,Zimmerman Farmers Market,"Lions Park, Main Street",Zimmerman,Sherburne,Minnesota,55398,-93.585014,45.437700,N,...,N,N,06/07/2016 to 10/04/2016,Tue: 2:30 AM-6:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8543,1002868,Zion Canyon Farmers Market,1212 Zion Park Blvd.,Springdale,Washington,Utah,84767,-113.003311,37.184508,N,...,N,N,04/25/2015 to 10/17/2015,Sat: 9:00 AM-12:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8544,1004686,Zionsville Farmers Market,Hawthorne & Main Street,Zionsville,Boone,Indiana,46077,-86.261200,39.949100,-,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8545,1011418,Zona Rosa Farmers' Market,Off of I-29 and Barry Road,Kansas City,Platte,Missouri,64153,-94.580864,39.246317,-,...,N,N,06/01/2015 to 09/30/2015,Tue: 4:00 PM-8:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#TEST CELL: do not delete!

### Sort

<p> We can sort the contents of a desired column using the <code>sort_values</code> method. </p>

When using sort, keep these points in mind:

1.   The of the first argument is the name of the column that's being sorted
2.   If the column has text in it, its contents will be sorted alphabetically. If the column has numbers in it, its contents will be sorted numerically
3.   <code>sort_values</code> makes a new table (the contents of the original table will not be sorted)
4.   Rows will always stick together when a column is being sorted.

For example, suppose we wanted to sort the markets in alphabetical order by city:

In [ ]:
farmers_markets_state_sorted = farmers_markets.sort_values(by = ["city"])
farmers_markets_state_sorted

If we wanted to sort by reverse alphabetical order, we would include <code>ascending=False</code> as an argument:

In [ ]:
farmers_markets_state_sorted = farmers_markets.sort_values(by = ["city"], ascending=False)
farmers_markets_state_sorted

**Question 2.5.** Now, sort <code>farmers_markets</code> by **longitude (<code>x</code>)** in descending order. Assign your table to <code>farmers_markets_locations_by_longitude</code>.

In [32]:
# YOUR CODE HERE

farmers_markets_locations_by_longitude = farmers_markets.sort_values(by = ["x"], ascending=False)
farmers_markets_locations_by_longitude

,FMID,MarketName,street,city,County,State,zip,x,y,Website,...,SFMNP,SNAP,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time
1284,1004972,"Christian ""Shan"" Hendricks Vegetable Market",Company Street,Saint Croix,Christiansted,Virgin Islands,NaN,-64.704300,17.744900,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4063,1004880,La Reine Farmers Market,Estate Body Slob,Saint Croix,Christiansted,Virgin Islands,NaN,-64.778900,17.732200,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,1004881,Anne Heyliger Vegetable Market,Queen Cross Street,Saint Croix,Frederiksted,Virgin Islands,NaN,-64.879900,17.709900,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6398,1004967,Rothschild Francis Vegetable Market,Charlotte Amalie,St. Thomas,St. Thomas,Virgin Islands,NaN,-64.932600,18.342800,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2650,1011914,Feria Agrícola de Luquillo,Centro de Arte y Cultura de Luquillo,Luquillo,Luquillo,Puerto Rico,00773,-65.720737,18.378202,http://www.luquillofarmersmarket.org,...,N,N,01/01/2016 to 12/31/2016,Sat: 8:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3383,1007537,Hawaiian Farmers of Hanalei,5-5785 Kuhio Highway,Hanalei,Kauai,Hawaii,96714,-159.514000,22.203300,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3888,1001032,Kalaheo Neighborhood Center (Sunshine Markets),Paplina Road off Kaumualli,Kalaheo,Kauai,Hawaii,96741,-159.527000,21.925100,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3290,1003612,Hanapepe Park (Sunshine Markets),Old Hanapepe Town,Hanapepe,Kauai,Hawaii,96716,-159.588000,21.910100,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3924,1003613,Kekaha Neighborhood Center (Sunshine Markets),Elepaio Road,Kekaha,Kauai,Hawaii,96752,-159.718000,21.970400,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7617,1001903,Trapper Creek Farmers Market,Post Office parking lot,Trapper Creek,NaN,Alaska,99683,-166.540000,53.874800,NaN,...,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#TEST CELL: do not delete!

# 3. Analyzing a dataset

<p> We are now going to use the concepts discussed above to analyze a new dataset. </p>  

Run the cell below to make a new DataFrame named <code>imdb</code>. The DataFrame contains the top 1000 highest-reated movies on IMDb. Notice the `.dropna()` function at the end, this removes all rows that contain NaN.

In [33]:
imdb = pd.read_csv("imdb.csv").dropna()
imdb.head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

*Comparison operators* are used to filter our data so that we're only left with the values that we want. For example, the code <code>imdb[imdb['IMDB_Rating'] >= 6.5]</code> only includes ratings equal or greater than 6.5 in the DataFrame.

**Question 3.1.** Create a table of movies released between 2015 and 2020 inclusive with ratings above 7. The table should only include the columns <code>Released_Year</code>, <code>Series_Title</code>, and <code>IMDB_Rating</code> **in that order**.

*Hint*: you may create intermediate tables for each step that's needed, but make sure that your final table is assigned to <code>rating_over_7</code>. </p>

In [37]:
# YOUR CODE HERE


t_1 = imdb[["Released_Year", "Series_Title", "IMDB_Rating"]]
rating_over_7 = t_1[(t_1['Released_Year'] >= 2015) & (t_1['Released_Year'] <= 2020) & (t_1['IMDB_Rating'] > 7)]
rating_over_7

     Released_Year                       Series_Title  IMDB_Rating
19            2019                       Gisaengchung          8.6
33            2019                              Joker          8.5
53            2018                         Capharnaüm          8.4
56            2016                     Kimi no na wa.          8.4
58            2018  Spider-Man: Into the Spider-Verse          8.4
..             ...                                ...          ...
892           2016                              Moana          7.6
893           2015                            Sicario          7.6
894           2015                              Creed          7.6
896           2016                 Hell or High Water          7.6
903           2018                     A Star Is Born          7.6

[83 rows x 3 columns]

In [ ]:
#TEST CELL: do not delete!

**Question 3.2.** Use the techniques mentioned above to calculate the *percent* of movies made in the 20th century (1900-1999) and the 21st century (2000 and later). Assign your answers to <code>percent_20th_century</code> and <code>percent_21st_century</code>. You do NOT have to round your answer.

*Hint*: The percent of movies release in the 20th century is the number of movies released between 1900-1999 divided by the total number of movies, times 100%.

In [41]:
# YOUR CODE HERE

#  movies released in the 20th century (1900-1999)
movies_20th_century = t_1[(t_1['Released_Year'] >= 1900) & (t_1['Released_Year'] <= 1999)]

#  movies released in the 21st century (2000 and later)
movies_21st_century = t_1[t_1['Released_Year'] >= 2000]

# Count the number of movies in each period
num_movies_20th_century = len(movies_20th_century)
num_movies_21st_century = len(movies_21st_century)

# Count the total number of movies
total_num_movies = len(imdb)

# Calculate percentages
percent_20th_century = num_movies_20th_century / total_num_movies * 100
percent_21st_century = num_movies_21st_century / total_num_movies * 100

print("Percent released in 20th century:", percent_20th_century, "%")
print("Percent released in 21st century:", percent_21st_century, "%")

Percent released in 20th century: 46.84431977559607 %
Percent released in 21st century: 53.15568022440392 %

In [ ]:
#TEST CELL: do not delete!

# Rubric

| Question | Points |
|----------|----------|
| 1.1.    | 3  |
| 1.2.    | 5   |
| 2.1.    | 2   |
| 2.2.    | 5  |
| 2.3.    | 5   |
| 2.4.    | 5   |
| 2.5.    | 5  |
| 3.1.    | 10   |
| 3.2.    | 10   |
| Total:    | 50   |